# Used for pulling historic data
dates:
  start: '2017-10-01'
  end: '2018-09-30'
# Actual dates of the viz frames
vizDates:
  start: '2020-04-01'
  end: '2020-06-30'
# Dates that make up the wheel (usually a full year)
wheelDates:
  start: '2019-10-01'
  end: '2020-09-30'
date_display_tz: "America/New_York" # UTC is assumed for all input and intermediate data; this is the TZ to display on the GIF
frame_step: 3 # hours elapsed between GIF frames

# view, dimensions
bbox: [-130.0, 20.0, -77.0, 49.0]
projection: "+proj=laea +lat_0=45 +lon_0=-100 +x_0=0 +y_0=0 +a=6370997 +b=6370997 +units=m +no_defs "
height: 2048
width: 4096
shift:
  STATEFP:
    - '02'
    - ['72', '78']
    - '15'
  scale: [0.47, 3.0, 1.5]
  shift_x: [90, -120, 520]
  shift_y: [-465, 90, -110]
  rotate: [-50, 20, -35]

# fetch site data parameters
request_limit: 10
request_limit_historic: 5
request_limit_inst: 1
percentiles:
  calc: ["05","10","20","25","50","75","80","90","95"]
  display:
    drought_severe: "05"
    drought_low: "10"
    normal_range: ["25", "75"]
    wet: "90"

# styling
background_col: "white"
basemap:
  lwd: 3.0
  col: "#e5e5e5" # transparent
  border: "white" # gray40
gage_style:
  with_percentile:
    normal:
      pch: 21
      cex: 2.0
      bg: "#d7d7d7" #efefef
    drought:
      pch: 21
      cex: [2.0, 3.0, 5.0]
      col: ["#efb2bc", "#df6679", "#ca0020"]
      lwd: 2.0
    wet:
      pch: 21
      cex: 2.0
      bg: ["#92c5de", "#04507d"]
    flood:    # not based on percentile, based on if above flood stage or not
      pch: 21
      cex: 4.0
      lwd: 5.0
      bg: "#04507d" # same as second "wet"
      col: "#AE72E5" #"#9547dd"
  no_percentile:
    pch: 4
    cex: 1.5
    col: "#7f7f7f"
legend_cfg:
  point_mult: 4
  text_cex: 2.4
  text_col: "#444444"
  x_pos: 0.11
  y_pos: 0.82
title_cfg:
  main: "U.S. River Conditions"
  subtitle: "January 1 - March 31, 2020"
  footnote: [
    "Conditions are relative to the historic daily record for each gage.",
  ]
  x_pos: 0.005
  y_pos: 0.94
  main_cex: 6
  main_col: "#666666"
  sub_cex: 3.6
  sub_col: "#666666"
  foot_cex: 2
  foot_col: "#939393"
footnote_cfg:
  main: [
    "* Both USGS gage height and National Weather Service flood stage levels are necessary to determine flooding conditions and were available for 38% of gages at",
    "   the time this graphic was produced. We used only publicly available data from NWISWeb and some gages are missing gage height even when they have flow."
  ]
  x_pos: 0.255 # 0.30 (visid image)
  y_pos: 0.02
  cex: 2
  col: "#939393"
datewheel_cfg:
    x_pos: 0.10 # percentage in the x direction to place the circle center
    y_pos: 0.33 # 0.37 (visid image) # percentage in the y direction to place the circle center
    wheel_per: 0.15 # percentage in the x direction to make the diameter
    event_per: 0.80 # percentage of the wheel radius to make the event arcs, skinnier if this is smaller
    inner_per: 0.7 # percentage of the wheel radius to make the donut, skinnier if this is bigger
    text_per: 0.75 # percentage of the inner radius to place the text
    col_empty: "#bdbdbd" # color of the wheel background
    col_filled: "#5d5d5dB3" # color to fill in the wheel as time marches on, last two = hex transparency
    col_text_months: "#383838" # color of month labels inside wheel
    col_text_months_outside: "#bdbdbd" # color of month labels inside wheel NOT during viz dates
    cex_text_months: 1.8
    col_text_datestamp: "#5f5f5f" # color of text inside the wheel
    cex_text_datestamp: 2.0

# gif options
animation:
  frame_delay_cs: 14 # delay for gifs
  frame_rate: 2.25 #original input frames per second
  output_frame_rate: 2.25 # if > input fps, duplicates some frames; if < input fps, drops some frames

# Image placement for function calls of USGS watermark, legend, datetime, etc..
#  These are fraction of the coordinate space, where 0,0 is bottom left of figure (some stuff is right justified though - legend)
component_placement:
  watermark_x_pos: "left"
  watermark_y_pos: "bottom"

intro_frame:
  cfg:
    show_count: 8

final_frame:
  cfg:
    pause_count: 10 # number of frames for which to pause/repeat the final timestep of the animation
    fade_count: 15 # number of frames for which the final frame will fade in
    show_count: 15 # number of frames for which the final frame will be seen
  paragraphs:
    -
      text: ["Learn more about USGS\n", "streamgages and their role in\n", "science and public safety:"]
      ypos: 0.70 #percent of the y direction to place text (starting from bottom)
      lheight: 1.4
      cex: 14
      col: "#474747"
    -
      text: ["usgs.gov/gwsip"]
      ypos: 0.20 #percent of the y direction to place text (starting from bottom)
      lheight: 1
      cex: 22
      col: "#04507d"
