-
  event_dates:
    start: "{{{start_date}}}"
    end: "{{{end_date}}}"
  text_dates:
    # Adjust these if the text + callout shape should appear for
    #   different dates than the event appears on the date wheel
    start: "{{{start_date}}}"
    end: "{{{end_date}}}"
  # Defaults to 9
  fade_in:
  # Defaults to 9
  fade_out:
  text:
    label: {{{label}}}
    # This is in percentage space, relative to the plotting device
    x_loc: # REQUIRED FIELD
    y_loc: # REQUIRED FIELD
    # Numeric indicating where to place text relative to location: 1,2,3,4
    pos: # REQUIRED FIELD
    cex: # REQUIRED FIELD
  # TRUE or FALSE, defaults to FALSE
  add_box:
  # "#04507d" for wet event, "#ca0020" for a dry event
  wheel_color: # REQUIRED FIELD
  # TRUE or FALSE, defaults to FALSE
  tall_wheel_shape: FALSE
  polygon:
    file: "" # REQUIRED FIELD
